label {
    display: block;
    margin: 0;
    padding: .7rem;

}
form {
    z-index: 1;
}
a {
    text-decoration: none;
    color: black;
}
.card {
    width: 18rem; 
    height:15rem; 
    margin: 0 auto 2rem auto;
    float: none;
    cursor: pointer;
}
.card-title {
    font-weight: bold;
}
.location-text {
 word-break: break-all;
}

.company-logo {
    height: 40px;
    width: 40px;
}
.input-group {
    margin-bottom: 1rem;
}